
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>


@if (ViewData["WasaReportTotalPump4"] != null)

{


    List<WASA.Models.WasaReportModel> Li = (List<WASA.Models.WasaReportModel>)ViewData["WasaReportTotalPump4"];



    Html.BeginForm("GetWasaReportFilterTotalPump4", "Report", FormMethod.Get);

    <table id="tblPump">

        <thead>
            <div style="background-color: darkblue; color:white;">

                <style>
                    img {
                        float: left;
                        padding-left: 500px;
                        padding-top: 10px;
                    }

                    h2 {
                        padding-bottom: 40px;
                        padding-top: 68px;
                    }
                </style>
                <img src="~/image/logo.png" />
                <h2>WASA Report</h2>
            </div>
        </thead>

        <br />
        <br />

        <p style="padding-left: 100px; background-color: darkblue; color:white; margin-bottom: 20px; padding-top: 12px; padding-bottom: 12px;">

            <span style="font-size:larger;"> From : </span><input type="date" name="from" id="fromDate" value="yyyy-mm-dd">
            <span style="font-size:larger;"> To : </span><input type="date" name="to" id="toDate" value="yyyy-mm-dd">
            <input type="submit" style="margin-left:7px;" value="Search" />
            <input type="button" style="margin-left:7px;" value="Daily Report" onclick="location.href='@Url.Action("GetWasaReportPump4", "Report")'">
            <input type="button" style="margin-left:7px;" value="Total Report" onclick="location.href='@Url.Action("GetWasaReportTotalPump4", "Report")'">
            <input type="button" style="margin-left:7px;" value="Refresh" onclick="location.href='@Url.Action("GetWasaReportPump4", "Report")'">
            <input type="button" style="margin-left:7px;" value="Pump House" onclick="location.href='@Url.Action("GetAllPump", "Report")'">
            <input type="button" style="margin-left:7px;" value="Home" onclick="window.location='@Url.Action("GoDashboard", "Report")'" />
            <input type="button" style="margin-left:7px;" id="btnExport" value="PDF" onclick="Export()" />
            <input type="button" style="margin-left:7px;" value="Logout" onclick="location.href='@Url.Action("GoLogout", "Report")'" />


        </p>
        <br />

        <th>Serial No.</th>
        <th>Date</th>
        <th>Production</th>
        <th>Runtime</th>
        <th>KWH</th>
        <th>Flow</th>
        <th>Stoptime</th>

        @foreach (WASA.Models.WasaReportModel D in Li)
        {
            <tr>

                <td>@D.Id</td>

                <td>@D.Date</td>

                <td>@D.Production</td>

                <td>@D.Runtime</td>

                <td>@D.KWH</td>

                <td>@D.Flow</td>

                <td>@D.Stoptime</td>


            </tr>
        }


    </table>


}


@if (ViewData["WasaReportTotalFilterPump4"] != null)

{

    List<WASA.Models.WasaReportModelSum> sumLi = (List<WASA.Models.WasaReportModelSum>)ViewData["WasaReportTotalFilterPump4"];


    Html.BeginForm("GetWasaReportFilterTotalPump4", "Report", FormMethod.Get);
    <table id="tblPump">

        <thead>
            <div style="background-color: darkblue; color: white;">

                <style>
                    img {
                        float: left;
                        padding-left: 500px;
                        padding-top: 10px;
                    }

                    h2 {
                        padding-bottom: 40px;
                        padding-top: 68px;
                    }
                </style>
                <img src="~/image/logo.png" />
                <h2>WASA Report</h2>
            </div>
        </thead>

        <br />
        <br />

        <p style="padding-left: 100px; background-color: darkblue; color:white; margin-bottom: 20px; padding-top: 12px; padding-bottom: 12px;">

            <span style="font-size:larger;"> From : </span><input type="date" name="from" id="fromDate" value="yyyy-mm-dd">
            <span style="font-size:larger;"> To : </span><input type="date" name="to" id="toDate" value="yyyy-mm-dd">
            <input type="submit" style="margin-left:7px;" value="Search" />
            <input type="button" style="margin-left:7px;" value="Daily Report" onclick="location.href='@Url.Action("GetWasaReportPump4", "Report")'">
            <input type="button" style="margin-left:7px;" value="Total Report" onclick="location.href='@Url.Action("GetWasaReportTotalPump4", "Report")'">
            <input type="button" style="margin-left:7px;" value="Refresh" onclick="location.href='@Url.Action("GetWasaReportPump4", "Report")'">
            <input type="button" style="margin-left:7px;" value="Pump House" onclick="location.href='@Url.Action("GetAllPump", "Report")'">
            <input type="button" style="margin-left:7px;" value="Home" onclick="window.location='@Url.Action("GoDashboard", "Report")'" />
            <input type="button" style="margin-left:7px;" id="btnExport" value="PDF" onclick="Export()" />
            <input type="button" style="margin-left:7px;" value="Logout" onclick="location.href='@Url.Action("GoLogout", "Report")'" />

        </p>
        <br />

        <th>Production(cubicmeter)</th>
        <th>Runtime(Hr)</th>
        <th>KWH</th>
        <th>AVGFlow(Ltr-min)</th>
        <th>DownTime</th>

        @foreach (WASA.Models.WasaReportModelSum D in sumLi)
        {
            <tr>

                <td>@D.Production</td>

                <td>@D.Runtime</td>

                <td>@D.KWH</td>

                <td>@D.AVGFlow</td>

                <td>@D.DownTime</td>
            </tr>
        }

    </table>

}


<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<script>

    function Export() {
        html2canvas(document.getElementById('tblPump'), {
            onrendered: function (canvas) {
                var data = canvas.toDataURL();
                var docDefinition = {
                    content: [{
                        image: data,
                        width: 500
                    }]
                };
                pdfMake.createPdf(docDefinition).download("Table.pdf");
            }
        });
    }

</script>

