<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>


    @if (ViewData["WasaReport"] != null)

  {


    List<WASA.Models.WasaReportModel> Li = (List<WASA.Models.WasaReportModel>)ViewData["WasaReport"];


    {
        @Html.BeginForm("GetWasaReportFilter", "Report", FormMethod.Get);
        }

        <table id="tblPump">

            <thead>
                <div style="background-color: cornflowerblue;">

                    <style>
                        img {
                            float: left;
                            padding-left: 500px;
                            padding-top: 10px;
                        }

                        h2 {
                            padding-bottom: 40px;
                            padding-top: 68px;
                        }
                    </style>
                    <img src="~/image/logo.png" />
                    <h2>WASA Report</h2>
                </div>
            </thead>

            <br />
            <br />

            <p style="padding-left:150px; background-color:cornflowerblue; margin-bottom:20px; padding-top:12px; padding-bottom:12px;">

                <span style="font-size:larger;"> From : </span><input type="date" name="from" id="fromDate" value="yyyy-mm-dd">
                <span style="font-size:larger;"> To : </span><input type="date" name="to" id="toDate" value="yyyy-mm-dd">
                <input type="submit" style="margin-left:7px;" value="Search" />
                @*<input type="button" value="Sum" onclick="sumClick()" />*@
                <input type="button" style="margin-left:7px;" value="Daily Report" onclick="location.href='@Url.Action("GetWasaReport", "Report")'">
                <input type="button" style="margin-left:7px;" value="Total Report" onclick="location.href='@Url.Action("GetWasaReportSum", "Report")'">
                <input type="button" style="margin-left:7px;" value="Refresh" onclick="location.href='@Url.Action("GetWasaReport", "Report")'">
                <input type="button" style="margin-left:7px;" value="Home" onclick="window.location='@Url.Action("GoDashboard", "Report")'" />
                <input type="button" style="margin-left:7px;" id="btnExport" value="PDF" onclick="Export()" />
                <input type="button" style="margin-left:7px;" value="Logout" onclick="location.href='@Url.Action("GoLogout", "Report")'" />


            </p>
            <br />

            <th>Serial No.</th>
            <th>Date</th>
            <th>Production</th>
            <th>Runtime</th>
            <th>KWH</th>
            <th>Flow</th>
            <th>Stoptime</th>

            @foreach (WASA.Models.WasaReportModel D in Li)
            {
                <tr>

                    <td>@D.Id</td>

                    <td>@D.Date</td>

                    <td>@D.Production</td>

                    <td>@D.Runtime</td>

                    <td>@D.KWH</td>

                    <td>@D.Flow</td>

                    <td>@D.Stoptime</td>


                </tr>
            }

        </table>
    }

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

    <script>

        function Export() {
            html2canvas(document.getElementById('tblPump'), {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("Table.pdf");
                }
            });
        }


        //function sumClick() {

        //    var fromDate = document.getElementById('fromDate').value;
        //    var toDate = document.getElementById('toDate').value;
        //     console.log(toDate, 'Tanvir');
        //    $.get("/Report/GetWasaReportSum", { from: fromDate, to: toDate}, function (data) {
        //        alert(data);
        //    });
        //}

    </script>


    @*@if (viewdata["wasareportsum"] != null)
    {
        list<wasa.models.wasareportmodelsum> sumli = (list<wasa.models.wasareportmodelsum>)viewdata["wasareportsum"];

        html.beginform("getwasareport", "report", formmethod.get);

        <table id="tblpump">

            <thead>
                <div style="background-color: cornflowerblue;">

                    <style>
                        img {
                            float: left;
                            padding-left: 500px;
                            padding-top: 10px;
                        }

                        h2 {
                            padding-bottom: 40px;
                            padding-top: 68px;
                        }
                    </style>
                    <img src="~/image/logo.png" />
                    <h2>wasa report</h2>
                </div>
            </thead>

            <br />

            <p style="padding-left:480px; background-color:cornflowerblue; margin-bottom:20px; padding-top:5px; padding-bottom:5px;">

                <span style="font-size:larger;"> from : </span><input type="date" name="from" id="fromdate" value="yyyy-mm-dd">
                <span style="font-size:larger;"> to : </span><input type="date" name="to" id="todate" value="yyyy-mm-dd">
                <input type="button" value="search" />
                <input type="button" value="sum" onclick="sumclick()" />
                <input type="button" value="sum" onclick="location.href='@url.action("getwasareportsum", "report")'">
                <input type="button" value="refresh" onclick="location.href='@url.action("getwasareport", "report")'">
                <input type="button" value="home" onclick="window.location='@url.action("godashboard", "report")'" />
                <input type="button" id="btnexport" value="pdf" onclick="export()" />
            </p>

            <th>serial no.</th>
            <th>production(cubicmeter)</th>
            <th>runtime(hr)</th>
            <th>kwh</th>
            <th>avgflow(ltr-min)</th>
            <th>downtime</th>

            @foreach (wasa.models.wasareportmodelsum d in sumli)
            {
                <tr>

                    <td>@d.id</td>

                    <td>@d.date</td>

                    <td>@d.production</td>

                    <td>@d.runtime</td>

                    <td>@d.kwh</td>

                    <td>@d.avgflow</td>

                    <td>@d.downtime</td>


                </tr>
            }


        </table>*@
    }
}


