@*<html>
    <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>
    <body
        <h2>HTML Table</h2>
    </body>
    </html>*@



@{List<WASA.Models.WasaReportModel> Li = (List<WASA.Models.WasaReportModel>)ViewData["WasaReport"];

}
<table>

    <thead>
        <h2 style="text-align:center;">WASA Report</h2>
    </thead>
   
    <br />

   <th>SI</th>
   <th>Date</th>
   <th>Flow</th>
   <th>Level</th>
   <th>Runtime</th>
   <th>Stoptime</th>
   <th>KWH</th>
   <th>Production</th>
    <th>Production Cum</th>

@foreach (WASA.Models.WasaReportModel D in Li)
{
    <tr>

        <td>@D.Serial</td>

        <td>@D.Date</td>

        <td>@D.Flow</td>

        <td>@D.Level</td>

        <td>@D.Runtime</td>

        <td>@D.Stoptime</td>

        <td>@D.KWH</td>

        <td>@D.Production</td>

        <td>@D.ProductionCum</td>


    </tr>
}

</table>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
  

</style>
