<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

@{List<WASA.Models.WasaReportModel> Li = (List<WASA.Models.WasaReportModel>)ViewData["WasaReport"];

}



@{Html.BeginForm("GetWasaReportFilter", "Report", FormMethod.Get);

    <table id="tblPump">

        <thead>
            <div style="background-color: cornflowerblue;">

                <style>
                    img {
                        float: left;
                        padding-left: 500px;
                        padding-top: 10px;
                    }

                    h2 {
                        padding-bottom: 40px;
                        padding-top: 68px;
                    }
                </style>
                <img src="~/image/logo.png" />
                <h2>WASA Report</h2>
            </div>
        </thead>

        <br />

        <p style="padding-left:500px; background-color:cornflowerblue; margin-bottom:20px; padding-top:5px; padding-bottom:5px;">

            <span style="font-size:larger;"> From : </span><input type="date" name="from" id="fromDate" value="yyyy-mm-dd">
            <span style="font-size:larger;"> To : </span><input type="date" name="to" id="toDate" value="yyyy-mm-dd">
            <input type="submit" value="Search" onclick="searchClick()" />
            <input type="submit" value="Sum" onclick="sumClick()" />
            <input type="button" value="Refresh" onclick="location.href='@Url.Action("GetWasaReport", "Report")'">
            <input type="button" value="Home" onclick="window.location='@Url.Action("GoDashboard", "Report")'" />
            <input type="button" id="btnExport" value="PDF" onclick="Export()" />

        </p>

        <th>Serial No.</th>
        <th>Date</th>
        <th>Production</th>
        <th>Runtime</th>
        <th>KWH</th>
        <th>Flow</th>
        <th>Stoptime</th>

        @foreach (WASA.Models.WasaReportModel D in Li)
        {
            <tr>

                <td>@D.Id</td>

                <td>@D.Date</td>

                <td>@D.Production</td>

                <td>@D.Runtime</td>

                <td>@D.KWH</td>

                <td>@D.Flow</td>

                <td>@D.Stoptime</td>


            </tr>
        }

    </table>
}


<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<script>
   
 
    //});
    // search button er onclick ee action method call mvc
    //$(document).ready(function () { });
        // Initialization

        //function searchClick() {
        //    var dateFrom = document.getElementById('fromDate');
        //    var dateTo = document.getElementById('toDate');

        //    $.ajax(
        //        {
        //            type: 'POST',
        //            dataType: 'JSON',
        //            url: '/Report/GetWasaReportFilter',
        //            data: { from: dateFrom, to: dateTo },
        //            success:
        //                function (response) {
        //                    // Generate HTML table.
        //                    convertJsonToHtmlTable(JSON.parse(response), $("#TableId"));
        //                },
        //            error:
        //                function (response) {
        //                    alert("Error: " + response);
        //                }
        //        });

        //});
        //}

    function Export() {
        html2canvas(document.getElementById('tblPump'), {
            onrendered: function (canvas) {
                var data = canvas.toDataURL();
                var docDefinition = {
                    content: [{
                        image: data,
                        width: 500
                    }]
                };
                pdfMake.createPdf(docDefinition).download("Table.pdf");
            }
        });
    }


</script>

