

@{List<WASA.Models.WasaReportModel> Li = (List<WASA.Models.WasaReportModel>)ViewData["WasaReport"];

}
<table>

    <thead>
        <div style="background-color: cornflowerblue;">

            <style>
                img {
                    float: left;
                    padding-left: 500px;
                    padding-top: 12px;
                }

                h2 {
                    padding-bottom: 50px;
                    padding-top: 68px;
                }
            </style>
            <img src="~/image/logo.png" />
            <h2>WASA Report</h2>
        </div>
    </thead>

  
    <br/>
    
    <div class="search">

        <input type="date" id="myDate" value="yyyy-mm-dd">
        <input type="date" id="myDate" value="yyyy-mm-dd">
        <input type="button" value="Search" onclick="msg()">
        <input type="button" value="Refresh" onclick="msg()">


       
        <script>
            function myFunction() {
                var x = document.getElementById("myDate").value;
                document.getElementById("demo").innerHTML = x;
                
        </script>

    </div>
    <br/>

    <th>SI</th>
    <th>Date</th>
    <th>Flow</th>
    <th>Level</th>
    <th>Runtime</th>
    <th>Stoptime</th>
    <th>KWH</th>
    <th>Production</th>
    <th>Production Cum</th>

    @foreach (WASA.Models.WasaReportModel D in Li)
    {
        <tr>

            <td>@D.Serial</td>

            <td>@D.Date</td>

            <td>@D.Flow</td>

            <td>@D.Level</td>

            <td>@D.Runtime</td>

            <td>@D.Stoptime</td>

            <td>@D.KWH</td>

            <td>@D.Production</td>

            <td>@D.ProductionCum</td>


        </tr>
    }

</table>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

